@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');s

h1.ce-header {
  @apply text-4xl font-bold text-gray-800;
}

h2.ce-header {
  @apply text-3xl font-bold text-gray-800;
}

h3.ce-header {
  @apply text-2xl font-bold text-gray-800;
}

h4.ce-header {
  @apply text-xl font-bold text-gray-800;
}

h5.ce-header {
  @apply text-lg font-bold text-gray-800;
}

h6.ce-header {
  @apply text-sm font-bold text-gray-800;
}

.cdx-input.image-tool__caption {
  @apply text-sm border-0 shadow-none text-center;
}

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.react-tags__combobox {
  @apply relative !important
}

.react-tags__combobox-input {
  @apply w-full rounded-xl !important
}

.react-tags__listbox {
  @apply pt-2 px-5 w-1/2 mt-2 border rounded-xl absolute bg-white cursor-pointer !important
}

.react-tags__list {
  @apply gap-2 flex flex-wrap !important
}

.react-tags {
  @apply relative h-fit flex items-center flex-wrap max-w-full border p-2 rounded-lg !important
}

.react-tags__combobox-input {
  @apply w-fit border-0 focus:border-0 focus:outline-none focus:ring-0 p-1 pb-0 !important
}

.ce-popover.ce-popover--opened {
  @apply w-80 -translate-x-1/3 translate-y-3
}

.image-tool__image {
  @apply flex justify-center items-center
}

.h-notifi {
  height: calc(100vh - 120px);
}

.notification-modal::-webkit-scrollbar {
  width: 10px;
}

.notification-modal::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  /* Màu sắc của thanh cuộn */
  border-radius: 8px;
  /* Hình dạng của thanh cuộn */
}

.notification-modal::-webkit-scrollbar-track {
  background-color: #86868600;
  border-radius: 8px;
  /* Màu sắc của phần track của thanh cuộn */
}

.banner.text {
  font-family: 'Playfair Display', serif;
}